## RStudio default 
## (excluded files when a git repo is created with a new project)
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

## folders: add more with final backslash: FOLDER/ 
bib/
figs/
output/
tmp/
old/
otros-repos-interesantes/
#*_cache
#*_files
#__pycache__/
#.ipynb_checkpoints/
#.jupyter/
#.vscode/

## files: add more extensions separated by `|` character
\.(?i)(tmp|rar|zip|jpg|jpeg|png|log)(?-i)$
.~lock*
Thumbs.*
